<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<!-- Sidebar bg -->
<img th:insert="~{fragments/sidebar.html :: sidebar-bg}">

<!--=============== HEADER ===============-->
<header th:insert="~{fragments/sidebar.html :: header}"></header>

<!--=============== SIDEBAR ===============-->
<div th:insert="~{fragments/sidebar.html :: sidebar}"></div>
<section class="container.fluid pt-3">
    <table class="table table-light table-hover">
        <thead class="bg-primary">
        <tr>
            <th>Doctor's Email</th>
            <th>Doctor's Name</th>
            <th>Specialization</th>
            <th>Appointment Date</th>
            <th>Cancel Appointment?</th>
        </tr>
        </thead>
        <tbody>
        <tr valign="top" th:each="app:${appointments}">

            <td valign="top" th:text="${app.docId}" type="text">Id</td>
            <td valign="top" th:text="${app.docName}">Name</td>
            <td valign="top" th:text="${app.docSpecial}">Specialization</td>
            <td valign="top" th:text="${app.date}">Name</td>
            <form method="POST" th:action="@{/cancel}">
                <input type="hidden" name="appId" th:value="${app.appId}">
                <td>
                    <button type="submit" value="value" class="link-button">Cancel</button>
                </td>
            </form>
            <td>
            </td>

        </tr>
        </tbody>
    </table>
</section>
</body>
</html>