
<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="#{auth.title}">Login</title>
	<link rel="stylesheet" th:href="@{/verify.css}">
</head>

<body class="my-login-page">
<form th:action="@{/authenticatedoc}" method="POST" id="loginForm" novalidate="">
	<h1 th:text="#{auth.patient.header}">Doctor Login</h1>  th:text="#{}"
	<div class="form-group">
		<label for="email" th:text="#{auth.email.label}">E-Mail Address</label>
		<input id="email" type="email" class="form-control" name="email" value="" required autofocus>
	</div>

	<div class="form-group">
		<label for="password" th:text="#{auth.password.label}">Password
		</label>
		<input id="password" type="password" class="form-control" name="password" required data-eye>

	</div>



	<div class="form-group m-0">
		<button type="submit" class="submit" th:text="#{auth.link}">
			Login
		</button>
	</div>
	<div class="mt-4 text-center" th:text="#{auth.question}">
		Don't have an account?
	</div><a th:href="@{/registerdoc}" th:text="#{auth.register.submit}">register</a>
</form>
</body>
</html>
