<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<!-- Sidebar bg -->
<img th:insert="~{fragments/sidebar.html :: sidebar-bg}">

<!--=============== HEADER ===============-->
<header th:insert="~{fragments/sidebar.html :: header}"></header>

<!--=============== SIDEBAR ===============-->
<div th:insert="~{fragments/sidebar.html :: sidebar}"></div>

<!--=============== MAIN ===============-->
<section class="container.fluid pt-3">
    <table class="table table-light table-hover">
        <thead class="bg-primary">
        <tr>
            <th><strong>Doctor's EmailID</strong></th>
            <th><strong>Name</strong></th>
            <th><strong>Specialization</strong></th>
            <th><strong>Degree</strong></th>
            <th><strong>State</strong></th>
            <th><strong>City</strong></th>
        </tr>
        </thead>
        <tbody>

        <tr valign="top" th:each="doctor:${doctor}">
            <form method="POST" th:action="@{/assignment}">
                <td valign="top" th:text="${doctor.email}" type="text">Email</td>
                <td valign="top" th:text="${doctor.name}">Name</td>
                <td valign="top" th:text="${doctor.specialization}">Specialization</td>
                <td valign="top" th:text="${doctor.degree}">Degree</td>
                <td valign="top" th:text="${doctor.state}">State</td>
                <td valign="top" th:text="${doctor.city}">City</td>
                <td>

                    <input type="hidden" name="email" th:value="${email}">

                    <input type="hidden" name="docId" th:value="${doctor.email}">
                    <input type="hidden" name="docName" th:value="${doctor.name}">
                    <input type="hidden" name="docSpecial" th:value="${doctor.specialization}">
                    <input type="date" id="calender" name="date">
                    <button type="submit" value="value" class="link-button">Book Appointment</button>
                </td>
            </form>
        </tr>

        </tbody>
    </table>
</section>
</main>
</body>
</html>