<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login Failure</title>
	<link rel="stylesheet" th:href="@{/verify.css}">
</head>

<body class="my-login-page">
<form th:action="@{/}" id="loginForm" novalidate="">
	<div class="form-group m-0">
		<h3 class = "titles">Doctor's Appointment</h3>
		<h4 class = "titles">
			Sorry! We couldn't Login. The username/password entered is incorrect. You can try to again.
		</h4>

		<button type="submit" class="submit" onclick="window.location.href='/'">
			Try Again
		</button>
	</div>
</form>
</body>
</html>
