<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<!-- Sidebar bg -->
<img th:insert="~{fragments/sidebar.html :: sidebar-bg}">

<!--=============== HEADER ===============-->
<header th:insert="~{fragments/sidebar.html :: header}"></header>

<!--=============== SIDEBAR ===============-->
<div th:insert="~{fragments/sidebar.html :: sidebar}"></div>

<!--=============== MAIN ===============-->
<main class="main container" id="main">
  <h1 th:text="#{sidebar.about}">About Us</h1>
</main>
</body>
</html>