<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title th:text="#{welcome.title}">Welcome</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/verify.css}">
	<link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<form id="langForm">
	<h4 class="card-title">Welcome to our Management System. Please choose an option:</h4>
	<a class="lang" href="?lang=en">
		<img th:src="@{/icons/lang-en.png}" alt="En"/>
		<span th:text="#{language.en}">English</span>
	</a>
	<a class="lang" href="?lang=ru">
		<img th:src="@{/icons/lang-ru.png}" alt="Ru"/>
		<span th:text="#{language.ru}">Русский</span>
	</a>
	<a class="lang" href="?lang=kk">
		<img th:src="@{/icons/lang-kk.png}" alt="Kk"/>
		<span th:text="#{language.kk}">Қазақша</span>
	</a>
	<div>
		<a th:href="@{/patlog}" class="submit">Patient</a>
		<a th:href="@{/doclog}" class="submit">Doctor</a>
	</div>
</form>
</body>
</html>